Repository RuanScherer/api-health-checker, pull requests merged in 2022-03, with the labels that each got.

#4 Configure router for web application
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/favicon.svg
  frontend/src/index.css
  frontend/src/logo.svg
  frontend/src/main.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/routes/index.tsx
  frontend/yarn.lock
Labels: architecture

#7 Create pull request template
  .github/pull_request_template.md
Labels: documentation

#9 Configure eslint prettier and commitizen tools frontend
  frontend/.editorconfig
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/routes/index.tsx
  frontend/yarn.lock
Labels: architecture, frontend

#10 Create application theme
  frontend/.editorconfig
  frontend/.eslintrc.json
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/ResponsiveIcon/index.tsx
  frontend/src/main.tsx
  frontend/src/pages/Home/index.tsx
  frontend/src/styles/constants/colors.ts
  frontend/src/styles/global.ts
  frontend/src/styles/shared/buttons.ts
Labels: enhancement, architecture, frontend

#20 chore: configured eslint, prettier and commitizen tools
  backend/.editorconfig
  backend/.eslintignore
  backend/.eslintrc.json
  backend/.gitignore
  backend/package.json
  backend/src/routes/index.ts
  backend/src/server.ts
  backend/yarn.lock
Labels: architecture, backend

#21 Create card component for health check type
  frontend/assets/images/mongodb-logo.svg
  frontend/src/components/HealthCheckTypeCard/index.tsx
  frontend/src/components/HealthCheckTypeCard/styles.ts
  frontend/src/shared/constants/healthCheckCategories.ts
  frontend/src/shared/constants/healthCheckTypes.ts
  frontend/src/styles/constants/colors.ts
  frontend/src/styles/global.ts
  frontend/src/styles/shared/buttons.ts
Labels: enhancement, frontend
